@import
url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {overflow-x:hidden;}


.header {
    position: fixed;
    width: 100%;
}


.bg_dark {
    background-size: cover;
    opacity: 1;
}

.bord {
    display: flex;
    height: 3.55em;
    z-index: 200;
}


.headline {
    font-weight: 700;
    font-size: 3em;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}


.header-ref {
    padding-top: 0.3em;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    margin-right: 1em;
    font-weight: 600;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
}


.section-text {
    text-decoration: none;
    font-weight: 700;
    font-size: 150%;
    font-family: 'Inter', sans-serif;
}


a:hover {
    color: rgb(159, 180, 214);
    transition: 0.5s;
    animation: ch-color-1 3s forwards;
}


#leaf {
    transform: rotate(190deg) scale(-1, 1);
    height: 25%;
    wight: 25%;
    margin-bottom: 5.1em;
    margin-left: 10em
}

#heart {
    transform: scale(-1, 1);
    position: relative;
    height: 230px;
    wight: 230px;
}