<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/images/icon.png">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="header">
        <nav class="py-2 bg-body-tertiary" style="background-color: #2D3047;">
            <div class="container d-flex flex-wrap">
              <ul class="nav me-auto">
                <li class="nav-item"><a href="/" type="button" class="header-ref" aria-current="page" style="vertical-align: middle; font-weight: 600;">Главная</a></li>
                <li class="nav-item"><a href="/catalog" type="button" class="header-ref" style="vertical-align: middle; font-weight: 600;">Туры</a></li>
                <li class="nav-item"><button id="btnSpt" type="button" class="header-ref" style="vertical-align: middle; font-weight: 600;">Поддержка</button></li>
                <li class="nav-item"><button id="btnAbt" type="button" class="header-ref" style="vertical-align: middle; font-weight: 600;">О нас</button></li>
              </ul>
              <ul class="nav">
                <li class="nav-item"><a type="button" href="/sign-in" class="header-ref" style="">Войти</a></li>
                <li class="nav-item"><a type="button" href="/register" class="header-ref" style="">Регистрация</a></li>
              </ul>
            </div>
        </nav>
        <header class="py-3 mb-4" style="background: rgba(0, 0, 0, 0.5); position: relative; z-index: 999999; display: flex; height: auto;">
            <div class="container d-flex flex-wrap" style="display: flex; justify-content: space-between; flex-direction: row;">
              <a href="/" class="header-ref" style="padding: 0;">
                <span class="fs-4" style="font-size: 1.5vw !important"><img src="static/images/icon.png" style="width: 2.3vw; margin-right: 1em; border-radius: 50%;">Туры по Красноярскому краю</span>
              </a>
              <form class="col-12 col-lg-auto mb-3 mb-lg-0" style="width: 10vw" role="search">
                <input type="search" style="color: white; border: 3px solid #5D7581; background: rgba(56, 75, 82, 0); border-color: #5D7581; width: 10vw" class="form-control search" placeholder="Поиск..." aria-label="Search">
              </form>
            </div>
        </header>
    </div>
  <div class="scroll-fix">
      {% block body %}
      {% endblock %}
  </div>
<footer>
    <div style="display: flex; justify-content: flex-start; flex-direction: row; background-color: #2D3047; padding: 2%; height: 450px; flex-wrap: wrap;">
        <div style="display: flex; justify-content: flex-start; flex-direction: column; margin-left: 3%;">
            <h3 class="footer-headline">Соц. сети:</h3>
            <a class="section-text" style="color: #BCBCBC;" href="https://vk.com/KrasTour">Наше VK</a>
        </div>
        <div style="display: flex; justify-content: flex-start; flex-direction: column; margin-left: 3%;">
            <h3 class="footer-headline">Общение:</h3>
            <span class="section-text" style="color: #BCBCBC;">example@exmail.com</span>
        </div>
        <div style="display: flex; justify-content: flex-start; flex-direction: column; flex-start; margin-left: 3%; justify-self: center;">
            <h3 class="footer-headline">Исходный код:</h3>
            <a class="section-text" href="https://github.com/Palcas267/KrasTour_hakaton.git" style="color: #BCBCBC;">GitHub</a>
        </div>
    </div>
    <div style="display: flex; justify-content: flex-start; flex-direction: row; background-color: #3E4261; padding: 2%; border-bottom: 3px solid #2D3047;">
        <a class="section-text" href="/about" style="color: white; margin-left: 3%;">О нас</a>
        <a class="section-text" href="" style="color: white; margin-left: 3%;">Реклама на сайте</a>
        <a class="section-text" href="/catalog" style="color: white; margin-left: 3%;">Бронирование</a>
        <a class="section-text" href="/support" style="color: white; margin-left: 3%;">Поддержка</a>
    </div>
    <div style="display: flex; justify-content: flex-start; flex-direction: row; background-color: #3E4261; padding: 2%;">
        <span class="section-text" style="color: #BCBCBC">@Созданно при поддержке 2-х пирожков и кружке вкусного чая. Компания KrasTour желает вам приятного отдыха</span>
    </div>
</footer>

<div id="ModalSprt" class="modal">

    <div class="modal-content">
        <div style="">
            <span id="closeSprt" class="close">&times;</span>
            <p class="section-text">Пишите по почте: example@expl.com</p>
        </div>
    </div>

</div>

<div id="ModalAbt" class="modal">

    <div class="modal-content">
        <span id="closeAbt" class="close">&times;</span>
        <h3 class="headline3">О нас</h3>
        <p class="section-text">Мы реально крутая и очень (команда) добрая команда и исполнители топового сайта для тебя брат</p>
    </div>

</div>
<script>

var modal = document.getElementsByClassName("modal");

var modalSprt = document.getElementById("ModalSprt");
var btnSpt = document.getElementById("btnSpt");
var spanSprt = document.getElementById("closeSprt");

var modalAbt = document.getElementById("ModalAbt");
var btnAbt = document.getElementById("btnAbt");
var spanAbt = document.getElementById("closeAbt");

btnSpt.onclick = function() {
    document.body.classList.add('modal-show');
    modalSprt.style.display = "block";
}


btnAbt.onclick = function() {
    document.body.classList.add('modal-show');
    modalAbt.style.display = "block";
}


spanAbt.onclick = function() {
    document.body.classList.remove('modal-show');
    modalAbt.style.display = "none";
}


spanSprt.onclick = function() {
    document.body.classList.remove('modal-show');
    modalSprt.style.display = "none";
}


window.onclick = function(event) {
  if (event.target == modalSprt) {
    document.body.classList.remove('modal-show');
    modalSprt.style.display = "none";
  }
}


window.onclick = function(event) {
  if (event.target == modalAbt) {
    document.body.classList.remove('modal-show');
    modalAbt.style.display = "none";
  }
}
</script>
</body>
</html>