{% extends 'base.html' %}
{% block body %}
    <div>
        <div class="bg_dark" style="display: flex;  flex-direction: row;  justify-content: center; align-items: center; background-image: url('static/images/background_city.png'); background-color: blue; background-repeat: no-repeat; width: 100%; height: 1150px;">
            <div class="headline" style="margin-bottom: 1em; text-align: center;">
                <p style="line-height: 1.8em; font-weight: 700; font-size: 3.5vw;">ПУТЕШЕСТВУЙ, УЗНАВАЙ,<br> РАЗВЛЕКАЙСЯ И ПРОВОДИ<br> ВРЕМЯ ПРЕКРАСНО!<br></p>
                <a type="button" href="#whyweblock" class="btn orange-circle-btn" style="margin-top: 10%; padding: 0.4em; padding-right: 0.5em; padding-left: 0.5em; ">Идем дальше ➜</a>
            </div>
        </div>
    </div>
    <div class="bord" style="background-color: #2D3047; height: 3.55em"></div>
    <a name="whyweblock" style="background-color: #419D78; padding-left: 5%; display: flex; justify-content: space-around; flex-direction: row; padding-right: 5%; align-content: flex-start; align-items: center">
        <div style="display: flex-inline; flex-direction: column; align-items: flex-start; margin-left: -3%;">
            <h2 class="headline" style="padding-top: 0.5em; padding-left: 0.5em; margin-bottom: 2em;">Мы, потому что:</h2>
            <div style="padding-bottom: 4em; background-image: url('static/images/campfire.png'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
                <p class="section-text whywe-block" style="display: inline-block;">Делаем свою <br> работу быстро <br> и качественно</p><br>
                <p style="margin-left: 15vw;" class="section-text whywe-block">Уникальные и <br>интересные<br> маршруты</p><br>
                <p class="section-text whywe-block" style="display: inline-block;">Проверенные <br> гиды, хорошие <br> цены </p>
            </div>
        </div>
        <p class="headline" style="display: flex-inline; align-self: center; margin-bottom: -1.7em">}</p>
        <div style="margin-top: 1.2em; display: flex; flex-direction: column; align-items: flex-start; flex-shrink: 0">
            <img id="leaf" src="static/images/leaf.png"><br>
            <p style="background-color: white; padding: 1em; border-radius: 0.5em; background: rgba(0, 0, 0, 0); color: white; margin-top: -2%; " class="section-text">Путевки в красивые<br> и интересные места<br>специально для вас</p>
            <img id="heart" src="static/images/heart.png">
        </div>
    </a>
    <div class="bord" style="background-color: #77CBB9"></div>
    <div id="redblock">
        <div id="redblock-part-1">
            <h4 class="headline-mini">Новый опыт</h4>
            <p class="headline2">Узнавайте много<br> нового с нами</p><br>
            <a href="/catalog" type="button" class="btn orange-circle-btn" style="position: relative; right: 1%; padding: 0.4em; padding-right: 0.6em; padding-left: 0.6em; font-size: 1.7vw; margin-bottom: 1.7em;">➜ Каталог</a>
            <p style="color: white;" class="section-text big">Красноярск - самый большой и один из самых красивых городов Восточной Сибири. Будьте уверенны, здесь вам найдется на что посмотреть.</p><br>
            <p style="color: white;" class="section-text big">В Красноярске экология и благоустройство таковы, что нередко его ставят в пример другим крупным мегаполисам России</p>
        </div>
        <div id="redblock-part-2">
            <div class="red-part">
                <div style="display: flex; flex-direction: column; flex-grow: 1;">
                    <img src="static/images/left-circle.png" style="width: 24vw; margin-bottom: 8%;">
                    <img src="static/images/left-treug.png" style="width: 24vw;">
                </div>
            </div>
            <div class="red-part">
                <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-left: 0%">
                    <img src="static/images/right-circle.png" style="width: 24vw; margin-bottom: 8%;">
                    <img src="static/images/right-treug.png" style="width: 24vw;">
                </div>
            </div>
        </div>
    </div>
    <div class="bord" style="background-color: #51001b"></div>
    <div id="blackblock" style="background-color: #232627; display: flex; justify-content: flex-start; flex-direction: column; flex-wrap: wrap; padding: 2%; padding-left: 6%; padding-right: 6%;">
        <h3 class="headline3" style="align-self: center;">Наши предложения</h3>
        <div style="display: flex; justify-content: flex-start; flex-direction: row; flex-wrap: wrap;">
            <div class="item" style="background-color: #191919">
                <a href="https://extraguide.ru/russia/krasnoyarsk/excursion-40011/" style="display: block; text-decoration: none;">
                    <div style="margin-bottom: 0.4em; ">
                        <div style="height: 282px; width: 384px; background: url('static/images/green_hills.jpg'); background-position: center center; background-size: cover; display: flex; justify-content: center; flex-direction: column; align-items: flex-end;">
                            <span class="price">6500 руб</span>
                        </div>
                        <div class="item-inf" style="padding-left: 2%;">
                            <div style="text-align: center; font-size: 1.7vw">Торгашинский хребет</div>
                            <div>
                                <img src="static/images/field.png" style="padding: 5%; width: 33%"><img src="static/images/tree.png" style="padding: 5%; border-left: 3px solid #232627; border-right: 3px solid #232627; width: 33%"><img src="static/images/wallet.png" style="padding: 5%; width: 33%">
                            </div>
                            <div style="word-break: break-all; padding: 2%">Здесь проложена самая
                                <br> большая лестница в России,
                                <br> неспешная прогулка по
                                <br> которой займет около
                                <br> 40 минут. </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="background-color: #191919">
                <a href="https://extraguide.ru/russia/krasnoyarsk/excursion-49115/" style="display: block; text-decoration: none;">
                    <div style="margin-bottom: 0.4em; ">
                        <div style="height: 282px; width: 384px; background: url('static/images/stolby.jpg'); background-position: center center; background-size: cover; display: flex; justify-content: center; flex-direction: column; align-items: flex-end;">
                            <span class="price">6480 руб</span>
                        </div>
                        <div class="item-inf" style="padding-left: 2%;">
                            <div style="text-align: center; font-size: 1.7vw">Заповедник Столбы</div>
                            <div>
                                <img src="static/images/cave.png" style="padding: 5%; width: 33%"><img src="static/images/tree.png" style="padding: 5%; border-left: 3px solid #232627; border-right: 3px solid #232627; width: 33%"><img src="static/images/wallet.png" style="padding: 5%; width: 33%">
                            </div>
                            <div style="word-break: break-all; padding: 2%">Весь живописный уголок
                                <br> населяют исполинские
                                <br> великаны —  скалы с
                                <br> причудливыми очертаниями,
                                <br> выточенными природой. </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="background-color: #191919">
                <a href="https://extraguide.ru/russia/krasnoyarsk/excursion-92334/" style="display: block; text-decoration: none;">
                    <div style="margin-bottom: 0.4em; ">
                        <div style="height: 282px; width: 384px; background: url('static/images/ges.jpg'); background-position: center center; background-size: cover; display: flex; justify-content: center; flex-direction: column; align-items: flex-end;">
                            <span class="price">2500 руб</span>
                        </div>
                        <div class="item-inf" style="padding-left: 2%;">
                            <div style="text-align: center; font-size: 1.7vw">Красноярская ГЭС</div>
                            <div>
                                <img src="static/images/hydro-power.png" style="padding: 5%; width: 33%"><img src="static/images/flash.png" style="padding: 5%; border-left: 3px solid #232627; border-right: 3px solid #232627; width: 33%"><img src="static/images/wallet.png" style="padding: 5%; width: 33%">
                            </div>
                            <div style="word-break: break-all; padding: 2%"> На Енисее это первая
                                <br> гидроэлектростанция
                                <br> изображение которого
                                <br> есть на 10-рублевой
                                <br> купюре. </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bord" style="background-color: #191919;"></div>
    <div id="gradientblock" style="padding: 1%; background-color: #232627; height: 700px; background: url('static/images/gradient.png'); background-repeat: repeat; display: flex; flex-direction: column; align-items: center">
        <p class="headline" style="text-align: center;">Чего же вы ждете?<br>Регистрируйтесь и начинайте покорять <br> просторы Сибири</p>
        <a type="button" href="/register" class="btn orange-circle-btn" style="margin-top: 2%; padding: 0.4em; padding-right: 0.5em; padding-left: 0.5em; ">Регистрация</a>
        <a type="button" href="/sign-in" class="btn orange-circle-btn" style="margin-top: 2%; padding: 0.4em; padding-right: 0.5em; padding-left: 0.5em; background: rgba(0, 0, 0, 0)">Вход</a>
    </div>
{% endblock %}
{% block title %}Main{% endblock %}